/*"Configurando" as fontes
-----------------------------------------------*/
@font-face {
    font-family: "TrackType";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Track/Track.otf") format("opentype");
}

@font-face {
    font-family: "PlayfairDisplay";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
}
/*-----------------------------------------------*/
html{
    height: 100%;
}

body{
    height: 100%;
    min-height: 100% !important;
    font-family: 'Arimo', sans-serif !important;
    padding-top:51px;
}

/*Ajusta um problema com a navbar estática do bootstrap e âncoras*/
#quem-somos, #contato,
#servicos{
    padding-top: 50px;
    margin-top: -50px;
}

.main-header {
    position: relative;
    height:100%;
    text-align: center;
}

.main-header::after {
    content: "";
    background-image: url(../images/Consult3.jpg);
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;   
    position: absolute;
}

.main-header .title{
    color: #0C0A86;
    font-size: 70px;
    font-family: TrackType;
    padding: 30px 0px;
}

.main-header .video{
    border: white 2px solid;
    margin-bottom: 100px; /*É preciso fazer 100% da tela (altura), como?*/
}
.servico-funcionalidade-titulo{
    font-size: 50px;
    font-family: TrackType;
    border: black 2px solid;
    margin: 0px;
    padding: 20px 0px;
    cursor: pointer; 
}
.div-tipo-cadastro{
    padding: 20px 0px;
    font-size: 20px;
}

.botao-tipo-cadastro{
    font-family: TrackType !important;
    font-size: 30px;
    border: white solid 2px;
}

.botao-tipo-cadastro:hover{
    border-color: black;
}

.botao-cadastrar{
    font-family: TrackType !important;
    font-size: 30px;
    float: right;
    margin-top: 15px;
}

.conteudo-funcionalidade{
}

.servico-funcionalidade{
    font-size: 30px;
    border: black 1px solid; 
    padding: 30px 0px;

}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

/*Utils*/
.font-size20{
    font-size: 20px;
}

.font-tracktype{
    font-family: TrackType !important;   
}

.boldfont-size16{
    font-weight: bold;
    font-size: 16px;
}
.table-padding-bottom10 tr td{
    padding-bottom: 10px;
}

.margin-bottom25{
    margin-bottom: 25px;
}

.padding-top100{
    padding-top: 100px;
}

.margin-bottom10{
    margin-bottom: 10px !important;
}

.margin-top20-bottom15{
    margin: 20px 0px 15px 0px;
}

.padding-top40-bottom25{
    padding: 40px 0px 25px 0px;
}

.no-margin{
    margin: 0px;
}

.no-padding{
    padding: 0px;
}

.escondido{
    display: none;
}

.visivel{
    display: block !important;
}

.error-message{
    color: red;
    font-family: sans-serif;
    font-size: 18px;
}
/*END - Utils*/
/*Consultores*/
.consultor-lista{
    padding: 20px;
    margin-bottom: 2px;
    border: black solid 2px;
    border-radius: 5px;
    display: none;
    background: rgba(226, 226, 226, 0.75);
}

.consultor-info{
    padding: 0% 5%;
}

.consultores-background {
    height:100%;
    overflow: auto;
}

.consultores-background::after {
    content: "";
    background-image: url(../images/consultores2.jpg);
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
/*END - Consultores*/
/* Consultor-detalhes*/
.consultor-detalhes-background {
    position: relative;
    height:100%;
}

.consultor-detalhes-background::after {
    content: "";
    background-image: url(../images/consultores.jpg);
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;   
    position: absolute;
}
/*END - Consultor-detalhes*/
/* Minha conta */
.botao-mostrar-dados{
    margin-bottom: 15px;
}

.botao-mostrar-dados-alterado{
    float: left;
}

.botao-alterar-dados{
    display: none;
    float: right;
}

.saldo{
    font-size: 20px;
}

.add-saldo{
    margin-top: 10px;
    font-size: 16px;
}

.minha-conta-background {
    position: relative;
    height:100%;
}

.minha-conta-background::after {
    content: "";
    background-image: url(../images/Consult1.jpg);
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
/*END - Minha conta */
/* Login */
.login-background {
    position: relative;
    height:100%;
}

.login-background::after {
    content: "";
    background-image: url(../images/login.jpg);
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.registre-link{
    float: left;
    font-size: 16px;
}

.esqueceu-link{
    float: right;
    font-size: 16px;
}
/*END - Login */
/*Cadastre-se*/
.cadastrese-background {
    height:100%;
    overflow: auto;
}

.cadastrese-background::after {
    content: "";
    background: #336E7B;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
/*END - Cadastre-se*/
/*Footer*/
.footer{
    margin: 0px;
    padding: 0px;
    background: #3A539B;
    border-top: black 2px inset;  
}
/*END - Footer*/
/*Dashboard*/

/*END - Dashboard*/
