/*"Configurando" as fontes
-----------------------------------------------*/
@font-face {
    font-family: "TrackType";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Track/Track.otf") format("opentype");
}

@font-face {
    font-family: "Exo";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Exo/Exo-Regular.otf") format("opentype");
}
/*-----------------------------------------------*/

a:hover {
    text-decoration: none;
}

.login{
    display: inline-block;
}

.login-space{
    padding: 5px;
    margin: 10px 10px;
}

.test-background1{
    background-color: #f0ad4e;
    padding: 300px;
}
.test-background2{
    background-color: #faebcc;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.no-margin{
    margin: 0px;
}

.perfil{
    display: none;
}
.perfil-selecionado{
    display: block !important;
}