/*"Configurando" as fontes
-----------------------------------------------*/
@font-face {
    font-family: "TrackType";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Track/Track.otf") format("opentype");
}

@font-face {
    font-family: "PlayfairDisplay";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
}
/*-----------------------------------------------*/
body{
    font-family: PlayfairDisplay !important;
    padding-top: 51px; //Necessário para o header não sobrepor o conteúdo do body 
}

.servico-funcionalidade-titulo{
    font-size: 50px;
    font-family: TrackType;
    border: black 2px solid;
    margin: 0px;
    padding: 20px 0px;
    cursor: pointer; 
}

.conteudo-funcionalidade{
}

.servico-funcionalidade{
    font-size: 30px;
    border: black 1px solid; 
    padding: 30px 0px;

}

.font-tracktype{
    font-family: TrackType !important;   
}

a:hover {
    text-decoration: none;
}

.login{
    display: inline-block;
}

.login-space{
    padding: 5px;
    margin: 10px 10px;
}

.test-background1{
    background-color: #f0ad4e;
    padding: 300px;
}
.test-background2{
    background-color: #faebcc;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.no-margin{
    margin: 0px;
}

no-padding{
    padding: 0px;
}

.escondido{
    display: none;
}

.visivel{
    display: block !important;
}

.error-message{
    color: red;
    font-family: sans-serif;
    font-size: 18px;
}